.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(0, 0, 0, 0.6);
    backdrop-filter: blur(17px);
    --webkit-backdrop-filter: blur(17px);
    width: 14%;
    height: 100vh;
    transition: all 0.3s ease;
    z-index: 10;
}

.side-bar .logo-aside {
    display: flex;
    align-items: center;
    padding: 25px 10px 15px;
    margin-left: 20px;
    width: 100%;
}


.links-aside h4{
    font-size: 1.2em;
    font-weight: 700;
    color: #fff;
} 

.logo-aside div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.logo-aside img {
    height: auto;
    width: 3rem;
}

.logo-aside .text-logo {
    font-size: 1.4em;
    font-weight: bolder;
    color: #fff;
    margin-left: 10px;
}

.links-aside {
    list-style: none;
    margin-top: 1.2em;
    padding: 5px;
    overflow: auto;
    scrollbar-width: none;
    cursor: pointer;
}

.links-aside li {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    transition: all 0.3s ease;
}

.links-aside li:hover{
    background: rgba(255, 255, 255, 0.514);
    /* transform: scale(1.01); */
}

.links-aside li .elem-link {
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.links-aside li .elem-link div{
    margin-left: 10px;
}

.side-bar hr {
    border-color: #ffffff79;
    margin-top: 10px 8px;
}

@media (max-width: 1366px){
    .links-aside h4{
        text-align: center;
        font-size: 1.2em;
    }
    .elem-link{
        font-size: 1em;
    }
}

@media (max-width: 1280px) {

    .side-bar .logo-aside{
        justify-content: center;
        align-items: center;
        padding: 15px;
        margin: 0;
    }

    .side-bar .logo-aside .text-logo {
        display: none; /* Ocultar el nombre del logo en pantallas pequeñas */
    }
    
    .side-bar .links-aside li .elem-link div{
        display: none;
    }

    .side-bar .links-aside li{
        justify-content: center;
    }

    .side-bar .links-aside h4{
        display: none;
    }

    .logo-aside div{
        margin-left: 0;
    }
} 


@media (max-width: 1080px) {
    .side-bar {
        display: none;
    }

    .side-bar .roles{
        display: none;
    }

    .side-bar .logo-aside .text-logo {
      display: none; /* Ocultar el nombre del logo en pantallas pequeñas */
    }

    .links-aside h4{
        text-align: start;
    }
  }