@import url('./themes/colors.css');

.dash-container{
    margin: 2em;
    display: flex;
}

.dash-menu{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    flex-wrap: wrap;
}

.dash-element{
    background-color: rgba(255, 255, 255, 0.712);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 22em;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 13px 13px 44px -19px rgba(0,0,0,0.73);
    -webkit-box-shadow: 13px 13px 44px -19px rgba(0,0,0,0.73);
    -moz-box-shadow: 13px 13px 44px -19px rgba(0,0,0,0.73);
    cursor: pointer;
    transition: all 0.3s ease;
}

.dash-element:hover{
    transform: scale(1.05);
    background-color: white;
}

.dash-data .text-data{
    font-size: 1.7em;
    font-weight: bolder;
    background: linear-gradient(27deg, var(--color-gradiant_1), var(--color-gradiant_2));
    background-size: 200%;
    background-clip: text;
    color: transparent;
    transition: all 0.5s ease;
}

.dash-element:hover .text-data {
    background: linear-gradient(27deg, var(--color-gradiant_2), var(--color-gradiant_1));
    font-size: 1.7em;
    background-clip: text;
    color: transparent;
}

@media (max-width: 1800px) {
    .dash-menu{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .dash-container{
        margin: 1em auto;
    }
    .dash-menu{
        grid-template-columns: repeat(1, 1fr);
    }

    .dash-element{
        min-width: 95%;
    }
}