@import url(./themes/colors.css);

/* Contenedor con la imagen y login o registro */
.containerLogin{
    margin: 4em auto;
    height: auto; 
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    padding: 4rem;
    border-radius: 8px;
    box-shadow: 13px 13px 44px -19px rgba(0,0,0,0.73);
    -webkit-box-shadow: 13px 13px 44px -19px rgba(0,0,0,0.73);
    -moz-box-shadow: 13px 13px 44px -19px rgba(0,0,0,0.73);
    background-color: white;
    max-width: 500px;
}

/* Imagen del login */
.website img{
    width: 100%;
    max-width: 500px;
}

/* Awatar arriba del login o registro */
.avatarLogin{
    width: 100px;
    margin-bottom: 1rem;
}

/* login o registro */
.componentForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.componentForm form{
    width: 100%;
}

/* Titulo del registro */
.componentForm form h2{
    font-size: 2em;
    margin-bottom: 4rem;
}

/* Las partes (labels e inputs) del login */
.form-group{
    position: relative;
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 5px 0;
    border-bottom: 2px solid #D9D9D9;
}

/* icono a la izquierda de los inputs */
.form-group .i{
    width: 3%;
}

.form-group .form-input{
    width: 97%;
}

/* Subrayado de las partes del login */
.form-group::after{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: dodgerblue;
    transition: .3s;
}

.form-group.focus .i .icon{
    color: dodgerblue;
}

.form-group.focus div label{
    top: -5px;
    font-size: 14px;
}

/* Posicion del label (rebuscado) */
.form-group > div label{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    pointer-events: none;
    transition: .3s ease all;
}

.form-group div{
    width: 100%;
}

/* inputs del login */
.form-input{
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1rem;
}

/* links del login (¿Olvidaste tu contraseña? - Registrate) */
.link{
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
}

.link:hover{
    color: darkslateblue;
}

/* Botón de iniciar sesión */
.form-sumbit{
    width: 100%;
    height: 50px;
    border-radius: 15px;
    margin: 1rem 0;
    outline: none;
    border: none;
    background: linear-gradient(27deg, var(--color-gradiant_2) 0%, var(--color-gradiant_1) 100%);
    color: #fff;
    font-size: 1.2rem;
    background-size: 200%;
    transition: .5s;
}

.form-sumbit:hover{
    background-position: right;
}

/* Restricciones al cambio de resoluciones */
@media screen and (min-width: 768px) {
    .containerLogin{
        grid-template-columns: 1fr 1fr;
        max-width: 1000px;
    }

    .website{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .componentForm{
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .containerLogin {
        grid-template-columns: 1fr;
        margin: 2em 1em;
        padding: 2rem;
    }

    .website {
        display: none;
    }

    .componentForm {
        justify-content: center;
    }
}