
@import url('./themes/colors.css');

/* Estilo para el contenedor del encabezado */
.cabecera {
    position: relative;
    display: flex;
    /* background-color: rgba(255, 255, 255, 0.2);  Se define en el Componente*/
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    transition: all .5s ease ;
    width: 100%;
}

/* Estilo para el logo de la página */
.logo-system {
    display: flex;
    align-items: center;
}

.logo-system img {
    height: auto;
    width: 3em;
}

.logo-system span {
    color: var(--color-gradiant_2);
    font-size: 1.5em;
    font-weight: bolder;
    margin-left: 10px;
}


.div-nav {
    display: flex;
    align-items: center;
}

.text-wel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8em;
}

/* Estilo para el botón de sesión */
.log-button {
    padding: 12px;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: all .3s;
    margin: 0 10px;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.3); /* Blanco con 50% de opacidad */
    backdrop-filter: blur(5px); /* Opcional: Añade un efecto de desenfoque */
    border: none; /* Elimina el borde del menú */
}

.dropdown-item {
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
    font-weight: bolder;
}

.dropdown-item:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.log-button.in {
    background-color: transparent;
}

.log-button:hover{
    background-color: var(--color-gradiant_2-h);
}

/* Estilos para pantallas pequeñas */
@media (max-width: 1280px) {
    .cabecera {
        padding: 14px 2%;
        transition: .2s;
    }
}

@media (max-width: 768px) {

    .logo-system span {
        display: none; /* Oculta el texto del logo en pantallas pequeñas */
    }
}
