
.view-layout{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content{
    display: flex;
    flex-direction: column;
    margin-left: 14%;
    flex: 1;
}

@media (min-width: 1080px) {
    .container-footer{
        margin-left: 14%;
    }
    .navbar-toggler{
        display: none !important;
    }
}

@media (max-width: 1080px) {

    /* Cuando se despliega el menú, el contenido principal ocupa toda la página*/
    .main-content{
        margin-left: 0;
    }

    .side-bar.open{
        display: none;
    }

    .navbar-toggler{
        display: block !important;
    }


    /* Estilo del Head - El div de texto desaparece cuando se despliega el menu*/
    .text-wel{
        display: none;
        opacity: 0;
        visibility: visible;
    }

    .container-footer{
        margin-left: 0;
    }
}