
@import url(../styles/themes/colors.css);

.container-view{
    background-color: rgba(255, 255, 255, 0.603);
    height: auto;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1.5em;
    box-shadow: 13px 13px 44px -19px rgba(0,0,0,0.73);
}

/* PreviewAside */
.img-view{
    display: flex;
    justify-content: center;
}

.img-view img{
    min-width: 20em;
    height: auto;
    width: 35em;
}

.content-view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 5px;
}

/* PreviewContent*/

.text-container .title-text h1{
    font-size: 3em;
    font-weight: bolder;
    background: linear-gradient(27deg, var(--color-gradiant_1), var(--color-gradiant_2));
    background-clip: text;
    color: transparent;
}

.text-container .description-text, .text-container .list-text{
    margin-top: 2em;
}

.text-container .list-text h3{
    font-size: 1.5em;
    font-weight: bolder;
}

.text-container .list-text ul li{
    list-style: disc;
    font-size: 1em;
}

.text-container .list-text ul li::marker{
    font-size: 1.3em;
    color: var(--color-gradiant_2);
}

.button-text{
    display: flex;
    justify-content: center;
}

.button-text button{
    padding: 15px;
    width: 15em;
    border: none;
    background: linear-gradient(27deg, var(--color-gradiant_1), var(--color-gradiant_2));
    background-size: 200%;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bolder;
    color: white;
    transition: all 0.3s ease;
}

.button-text button:hover{
    transform: scale(1.05);
    background-position: right;
}

@media (max-width: 1280px){
    .container-view{
        grid-template-columns: 1fr;
        margin: 1.5em;
    }

    .img-view img{
        max-width: 30em;
    }

    .content-view{
        margin: 0.7em;
        padding: 0;
    }
}

@media (max-width: 768px){

    .container-view{
        grid-template-columns: 1fr;
        margin: 1em;
    }

    .img-view img{
        display: none;
    }
    .text-container .title-text h1{
        text-align: center;
        font-size: 2em;
    }

    .text-container .list-text h3{
        font-size: 1em;
    }

    .button-text button{
        width: 100%;
    }

    .text-container .list-text ul li,
    .text-container .list-text ul li::marker{
        font-size: 1em;
    }

}