
@import url('./themes/colors.css');

.register-selection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-group.sign::after{
    content: '';
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: gray;
    opacity: 0.8;
}

.form-group.sign::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: var(--color-gradiant_1);
    transition: all 0.3s ease;
    z-index: 10;
}

.form-group.sign::before{
    left: 50%; /* Comienza desde el centro */
    transform: translateX(-50%); /* Ajusta el punto de partida al centro */
}

.form-group.sign:focus-within::before{
    width: 100%;
    left: 50%;
}

.form-group.sign:focus-within label{
    color: var(--color-gradiant_1);
    opacity: 1;
}

.form-group.sign .icon{
    width: 5%;
    color: gray;
}

.form-group.sign:focus-within .i{
    color: var(--color-gradiant_1);
}
.register-selection .selection{
    width: 50%;
    height: 30px;
    padding: 3px;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--color-gradiant_1);
}

.form-sumbit.sign{
    background: linear-gradient(27deg, var(--color-gradiant_1) 0%, var(--color-gradiant_2) 100%);
    background-size: 200%;
}

.form-sumbit.sign:hover{
    background-position: right;
}

.toggle-password.sign .icon-pass{
    color: var(--color-gradiant_1);
}